@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@font-face {
    font-family: 'Albertus Medium';
    font-style: normal;
    font-weight: 100;
    src: local('Albertus Medium'), url('../fonts/Albertus Medium Regular.woff') format('woff');
    }


html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h4{
    text-transform: uppercase;
    font-family: 'play fair';
    line-height: 0%;
    color: #101010;
}


p{
    font-family: 'krub', sans-serif;
    font-size: smaller;
    color: #545454;
}


.languagebarcover{
    background-color: rgb(46, 46, 46, 0.8);;
}
.languagebarcover a{
    text-decoration: none;
    text-align: center;
}

.languagebar{
    color: #97A52F;
    font-weight: 600;
    display: inline-block;
    padding-left: 15%;
    font-size: 15px;
    padding-top: 2%;
}



header{
    border-bottom: 1px solid #565656;
    display: grid;
    grid-template-columns: 10% 20% 70%;
}

.logo{
    height: 60%;
    width: 60%;
    vertical-align: middle;
    padding-top: 2.5%;
    padding-left: 15%;
}

nav{
    padding-left: 15%;
}

ul{
    display: flex;
    gap: 5%;
    list-style-type: none;
}


li{
    display: inline-flex;
    justify-content: space-between;
    position: relative;
    display: inline-block;
}

a{
    font-family: 'Albertus Medium';
    text-transform: uppercase;
    text-decoration: none;
    color:  #4E4E4E;  
    font-size: 20px;
}

a:hover{
    color: #97A52F;
}

ul li .dropdown {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgb(46,46,46,0.5);
    border-radius: 5%;
    margin: 0;
    padding: 10% 20%;
    list-style-type: none;
}
  
ul li .dropdown li {
    padding-top: 7%;
}

.dropdowna{
    font-size: 120%;
    text-transform: capitalize;
    padding: 5% 0%;
    color: #FFFF;
}

.dropdownb{
    font-size: 100%;
    text-transform: capitalize;
    padding-left: 17px;
    color: #FFFF;
}

ul li .dropdown a:hover{
    color:#C7C965;
}

ul li:hover > .dropdown {
    display: block;
    max-height: 200px; 
    opacity: 1;
}

.dropdown{
	display: none;
	margin-top: 10px; 
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    padding: 10px; 
    min-width: 180px; 
}
  
.dropdown li:last-child, .dropdown-submenu li:last-child {
	border-bottom: none;
}
 


/*.scroll{
    display: block;
    margin-left: 50%;
    transition: transform 1s ease-in-out;
    width: 1%;
    height: 1%;
    transform: translateY(8%);
}*/



section{
    margin: 5% 10%;
}


.news-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.news-container img{
    width: 50%;
}

.date{
    font-family: "krub";
    color: #C2C2C2;
    text-align: left;
    padding-left: 5%;
}

.text h1{
    text-align: left;
    font-family: "Italiana";
    line-height: 1;
    padding: 0% 5% 0% 5%;
}

.info{
    font-family: "krub";
    color: #6B7280;
    text-align: justify;
    padding: 0% 5% 0% 5%;
}

.button{
    font-family: "Albertus Medium";
    color: gray/500;
    text-align: left;
    padding-left: 5%;
}





/*Third part - footer*/
.footer {
    width: 100%;
    height: 16%;
    position: relative;
    background: url(../IMAGES/footer.png) no-repeat center center;
    background-size: cover;
    padding: 2% 0;
    color: #FFFFFF;
}


.footer p {
    font-family: 'Krub';
    text-align: center;
    margin-bottom: 3%;
}

.footerp{
    margin: 1% 20% 1% 20%;
    line-height: 150%;
    color: #FFFFFF;
}

.footer a{
    text-decoration: none;
}

.button4 {
    background: transparent;
    color: #FFFFFF;
    border: 1px groove #FFFFFF;
    border-radius: 11.5%;
    padding: 0.5% 1.5%;
    font-family: 'Albertus Medium';
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    display: block;
    margin: 0 auto 3%; /* Center the button */
}

.button4:hover{
    background-color: rgb(84, 84, 84, 0.8);
}

.statistics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35%;
    margin: 0 5%;
    transform: translateY(-25%);
}

.left, .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.first, .second, .third, .forth {
    text-align: center;
    padding:0;
}

.first h2, .second h2, .third h2, .forth h2 {
    font-family: 'Lora';
    color: #97A52F;
    font-size: 200%;
    font-weight: 500;
    margin:0;
    padding: 0;
}

.first p, .second p, .third p, .forth p {
    font-family: 'Albertus Medium';
    color: #FFFFFF;
    margin:0;
    padding: 0;
    font-weight: 500;
}



@media screen and (max-width: 768px) {

    .logo {
        height: 60%;
        width: 60%;
        padding-top: 20%;
    }
  
    .languagebar {
        font-size: 5px;
    }

    li > a{ 
        font-size: 0.4em;
    }

    nav{
        padding-left: 0;
    }

    ul{
        padding-left: 2%;
        gap: 2%;
    }

    .ProductBackground img{
        height: auto;
        width: 100vw;
    }

    .scroll img{
        width: 0.8em;
    }


    .news-container img{
        width: 50%;
    }

    .info{
        font-size: 0.3em;
    }

    h1{
        font-size: 60%;
    }

    h2{
        font-size: 40%;
    }
    
    h3{
        font-size: 30%
    }

    h4{
        font-size: 30%;
    }


    .button1, .button2, .button3, .button4{
        font-size: 5px;
    }

    .footerp{
        font-size: 5px;
    }

    .first h2, .second h2, .third h2, .forth h2 {
        font-size: 0.5em;
        font-weight: 500;
    }
    
    .first p, .second p, .third p, .forth p {
        font-size: 3px;
    }
}

